@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';

@keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animate-slide-up {
    animation: slide-up 0.3s ease-out;
  }
  